* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(../media/parrilla.jpg);
    background-size: cover;
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 50px;
}

.contenedor {
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
}

.encabezado {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));
}

.navegador {
    --state-close: scale(0);
    --state-hamburger: scale(1);
    --state-menu: translate(-100%);
    padding: 40px 0;
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(5, max-content);
}

.navegador_hamburger {
    transform: var(--state-hamburger);
}

.navegador_close {
    transform: var(--state-close);
}

.navegador_logo {
    color: white;
    font-size: 1.5rem;
    z-index: 1;
}

.navegador_hamburger,
.navegador_close {
    cursor: pointer;
    grid-column: -2/-1;
    grid-row: 1/2;
    transition: .4s transform;
}

.navegador_icon {
    width: 40px;
}

.navegador_links {
    background-color: rgba(0, 0, 0, 0.897);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    display: grid;
    text-align: center;
    align-content: center;
    gap: 2em;
    padding-left: 5%;
    transform: var(--state-menu);
    transition: .3s transform;
}

.navegador:target {
    --state-menu: translate(0);
    --state-close: scale(1);
    --state-hamburger: scale(0);
}

.navegador_item {
    list-style: none;
}

.navegador_links:hover {
    color: white;
}

.navegador_link {
    color: #B87D4A;
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 2px;
}

* .encabezado {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));
}

*/ .navegador {
    --state-close: scale(0);
    --state-hamburger: scale(1);
    --state-menu: translate(-100%);
    padding: 40px 0;
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(5, max-content);
}

.navegador_hamburger {
    transform: var(--state-hamburger);
}

.navegador_close {
    transform: var(--state-close);
}

.navegador_logo {
    color: white;
    font-size: 1.5rem;
    z-index: 1;
}

.navegador_hamburger,
.navegador_close {
    cursor: pointer;
    grid-column: -2/-1;
    grid-row: 1/2;
    transition: .4s transform;
}

.navegador_icon {
    width: 40px;
}

.navegador_links {
    background-color: rgba(0, 0, 0, 0.897);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    display: grid;
    text-align: center;
    align-content: center;
    gap: 2em;
    padding-left: 5%;
    transform: var(--state-menu);
    transition: .3s transform;
}

.navegador:target {
    --state-menu: translate(0);
    --state-close: scale(1);
    --state-hamburger: scale(0);
}

.navegador_item {
    list-style: none;
}

.navegador_links:hover {
    color: white;
}

.navegador_link {
    color: #B87D4A;
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 2px;
}




*/
/* COMIENZO DE LAS IMAGENES */
.contenedor_principal {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    gap: 100px;
}

.imagenes_producto {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.imagen_producto {
    height: 300px;
    width: 300px;
}

.primer_imagen {
    height: 300px;
    width: 300px;
}

.segunda_imagen {
    height: 300px;
    width: 300px;
}

.tercer_imagen {
    height: 300px;
    width: 300px;
}

.cuarta_imagen {
    height: 300px;
    width: 300px;
}

.imagen_producto {
    transition: all 1s;

}

.imagen_producto:hover {
    transform: scale(1.1);
}

/* COMIENZO DE LAS IMAGENES */
.contenedor_principal {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    gap: 50px;
}

.imagenes_producto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}

.imagen_producto {
    height: 300px;
    width: 300px;
}

.primer_imagen {
    height: 300px;
    width: 300px;
}

.segunda_imagen {
    height: 300px;
    width: 300px;
}

.tercer_imagen {
    height: 300px;
    width: 300px;
}

.cuarta_imagen {
    height: 300px;
    width: 300px;
}

.imagen_producto {
    transition: all 1s;

}

.imagen_producto:hover {
    transform: scale(1.1);
}



.carnes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    padding-top: 30px;

}

.imagen_carnes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.377);
    width: 350px;
    height: 350px;
}


.imagen_carnes img {
    width: 300px;
    height: 300px;
}

.imagen_carnes p {
    text-align: center;
    color: white;
}

/* FIN DE LA GALERIA DE IMAGENES */
/*Encabezado*/
.contenedor_contacto {
    font-family: 'Playfair Display', serif;
    background-size: cover;
    text-align: center;
    color: #B87D4A;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.contenedor_contacto h1{
    color: white;
}

.seccion_contacto {
    display: flex;
    width: 100%;
    margin: 50px;
    justify-content: space-around;
}

.info_contacto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid #B87D4A;
    transition: .3s;
    box-shadow: 0 0 20px #B87D4A;
    padding: 10px;
}

.tag_contacto h4,
a,
p {
    color: #f5f5f5;
    text-align: center;
    justify-items: center;
    text-decoration: none;
}

/*FORMULARIOS CONTACTOS*/


#contenedor_formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 55%;
    margin: auto;
}

/*Caja de formulario*/
input[type=text],
input[type=email],
textarea {
    width: calc(100% - 20px);
    padding: 20px;
    margin-bottom: 20px;
    background-color: #d8cfcff5;
}

textarea {
    height: 200px;
}

.terminos {
    color: #f5f5f5f5;
    padding: 4px;
}

button {
    background-color: #B87D4A;
    color: #f5f5f5f5;
    padding: 10px;
    border: none;
    cursor: pointer;
}

/*footer*/
.contenido_footer {
    background-size: cover;
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-top: auto;
    justify-content: space-around;
}


.subir {
    text-transform: uppercase;
    font-size: xx-large;
}

.subir a {
    color: #f5f5f5f5;
}



/*fin mediaq contacto*/

@media (max-width: 1300px) {

    #contenedor_formulario {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 55%;
        margin: auto;
    }

    .seccion_contacto {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
    }

    .contenido-footer{    
        display: flex;
        flex-direction: column;    
        gap: 20px;
    }
    .contenido-footer p{    
        display: flex;
        flex-direction: column;   
    }
}

@media (min-width:1100px) {
    .navegador {

        --state-hamburger: scale(0);
        --state-menu: translate(0);

    }

    .navegador:target {
        --state-close: scale(0);
    }

    .navegador_links {
        background-color: unset;
        position: unset;
        padding: 0;
        align-content: center;
        grid-auto-flow: column;
        gap: 1.5em;
        transform: unset;
        grid-column: -1/-2;
        grid-row: 1/2;
    }

    .navegador_link {
        color: white;
        font-size: 1rem;
        letter-spacing: none;
    }

    .navegador_logo {
        grid-column: -3/-4;
        grid-row: 1/2;
    }

}

@media (max-width:768px) {
    .contenedor_principal {
        gap: 30px;
    }

    .imagenes_producto {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .imagen_producto {
        height: 200px;
        width: 200px;
    }

    .primer_imagen {
        height: 200px;
        width: 200px;
    }

    .segunda_imagen {
        height: 200px;
        width: 200px;
    }

    .tercer_imagen {
        height: 200px;
        width: 200px;
    }

    .cuarta_imagen {
        height: 200px;
        width: 200px;
    }

}

@media (max-width:768px) {
    .carnes {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 30px;
        padding-top: 30px;

    }

    .imagen_carnes img {
        width: 150px;
        height: 150px;
    }

    .imagen_carnes p {
        text-align: center;
        color: white;
        font-size: small;
    }

    .imagen_carnes {
        width: 200px;
        height: 200px;
    }
    footer{
        flex-direction: column;
        justify-content: center;
    }
    .cat-footer p{
        font-size: 20px;
    }
}
